#mainiframe{
    width: 100%;
    height: 100%;
    border: 0;
}
body{
    margin: 0;
}
#main{
    background-color: #587eb8;
    width: 80%;
    height: 100%;
    float: left;
}
#container{
    width: 100%;
    height: 100%;
    position: absolute;
}
#header{
    height: 7vw;
    width: 100%;
    background-color: #adcaeb;
    color: #6594ca;
}
#menu{
    height: 100%;
    text-align: center;
    background-color: #87a7c5;
    float: left;
    width: 20%;
}


iframe{
    width: 100%;
    height: 100%;
}
#header{
    width: 100%;
    font-size: 4vw;
    color: #6594ca;
    font-family: 'Tahoma';
    text-transform: uppercase;
    margin: auto;
}